.header {
  background-color: #4A80B4;
  position: sticky;
  height: 6vh;
  box-shadow: 0 2px 3px 0 rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
}
.content {
  margin-top: 6vh;
}
.brand-logo {
  width: 6%;
  height: 100%;
  background-color: #fcfcfc;
  position: relative;
  display: flex;
  align-items: center;
}
.brand-logo img {
  margin: auto;
  height: 75%;
  width: 85%;
}
.logo {
  width: 100%;
  display: flex;
  margin-top: 8vh;
  align-items: center;
}
.logo img {
  width: 33%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .brand-logo {
    display: none;
  }
  .logo img {
    width: 75%;
  }
}
