@white: #fcfcfc;
@black: #111111;
@primary-blue: #4A80B4;
@secondary-blue: #48E7E1;
@grey: #5C6F81;
@coral: #E79682;
@red: #B4504A;

.header {
    background-color: @primary-blue;
    position: sticky;
    height: 6vh;
    box-shadow: 0 2px 3px 0 rgba(10,10,10,0.2),
                0 0 0 1px rgba(10,10,10,0.2);
}

.content {
    margin-top: 6vh;
}

.brand-logo {
    width: 6%;
    height: 100%;
    background-color: @white;
    position: relative;
    display: flex;
    align-items: center;

    img {
        margin: auto;
        height: 75%;
        width: 85%;
    }
}

.logo {
    width: 100%;
    display: flex;
    margin-top: 8vh;
    align-items: center;
    img {
        width: 33%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .brand-logo {
        display:none;
    }

    .logo img {
        width: 75%;
    }
}